:root {
  font-family: 'Roboto mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -0.02em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  cursor: default;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

#app {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  min-width: 5rem;
  transition: border-color 0.25s;
  margin: 0.2rem;
  margin-top: 0.4rem;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

input[type="range"] {
  width: 90%;
  margin: 0;
  padding: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  padding: 0;
  margin-left: 0;
}

canvas {
  border-radius: 0.7rem;
  background-color: #dddddd;
}

pre {
  background: #dddddd;
  color: #000;
  padding: 1rem;
  border-radius: 0.7rem;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 50vh;
  overflow: auto;
  text-align: left;

  user-select: text;
  cursor: text;
}

hr {
  width: 20%;
}

#curves-theory {
  background: #dddddd;
  border-radius: 0.7rem;
  display: block;
  width: 100%;
  max-width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#devtoggle {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* padding: 0.5rem 0.75rem; */
  border-radius: 0.5rem;
  font-size: 0.9rem;
  user-select: none;
}

#devtoggle label {
  padding: 0.5rem;
}

label {
  user-select: none;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin: 0.3em;
  gap: 0.4rem;
}

p {
  margin: 0.5rem;
}

#devspan {
  /* font-size: 0.8rem; */
  color: #ff0000;
}

#devnext {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

.hl {
  font-weight: 700;
}

.playIndicator {
  height: 1em;
  width: 1em;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

.activeIndicator {
  background-color: limegreen;
  box-shadow: 0 0 0.8em 0.05em limegreen;
  border: 1px solid rgb(150, 255, 150);
}

.inactiveIndicator {
  background-color: red;
  box-shadow: 0 0 0.8em 0.05em red;
  border: 1px solid rgb(255, 150, 150);
}

.yes {
  color: limegreen;
}

.no {
  color: red;
}

.maybe {
  color: gold
}
